body
{
    color: White;
}
.color
{
    color: Red;
}
.sectionaboutmiddleleft
{
    float: left; /*width:441px;*/
    padding: 0;
    margin: 0;
    text-align: left; /*border: 1px solid #ff9999;	*/
    background: #f0f7fe;
}
.sectionaboutmidright
{
    float: right;
    width: 241px; /*border:1px solid #ff9999;*/
    background: #f0f7fe;
}
.bluebox2
{
    background: #f0f7fe;
    margin-top: 15px;
    padding: 10px 18px 10px;
    color: #80B280;
}
.sectionhomemid
{
    width: 701;
}
.blueBox2 h2
{
    color: #0a4592;
    font-family: QuicksandBook;
    font-size: 18px;
    padding-bottom: 6px;
    margin-bottom: 10px;
    letter-spacing: -2px; /*border-bottom: 3px solid #a8d3fa;*/
    background: #f0f7fe;
}
.contact
{
    background: GhostWhite;
    color: #748DB9;
    padding: 10px 18px 10px;
    font-family: Arial;
    font-size: 14px;
}
.font
{
    color: #006600;
    font-family: Tahoma;
    font-size: 12px;
}
